.BlackSquare {
    color:white;
    font-size: 2em;
    background-color:rgba(0,0,0,0.5);
    color:rgb(255,255,255);
    width: 220px;
    height: 150px;
}
html {
    font-size: 1.5rem;
}
div {
    width:50%;
}
.Wikipedia {
    background-color: black;
    color:#ffffff;
}
.Image {
    width: 200px;
    height: 200px;
}
.percent {
    font-size:90%
}